/* Variables Globales de Tema (Theme) para Ghenesis Framework */
:root {
    /* Color Principal: Se aplica al AppBar de la página */
    --primary-color: #234e66;
    /* Un Azul-Verdoso (Teal oscuro) que une ambos colores */
    --primary-text-color: #ffffff;

    /* Configuración de Grillas (AG Grid) */
    --grid-header-bg: #3c7a7d;
    /* Un Verde-Azulado medio, suaviza el paso desde el AppBar */
    --grid-header-color: #ffffff;
    --grid-selected-row-bg: rgba(60, 122, 125, 0.08);
    /* Fondo muy sutil derivado del verde-azulado */

    /* Pestañas y Títulos */
    --active-tab-color: #3c7a7d;
    --input-label-color: #234e66;
    --fondo-menu: #f1f6f7;
    /* Fondo con un ligero tinte azulado para armonizar */
    --letra-menu: #334e5a;
    /* Gris azulado profundo */
}

/* Forzar el color del pequeñísimo badge de filtro activo (el circulito superior derecho) */
.ag-root-wrapper .ag-filter-active::after {
    background-color: var(--grid-header-color) !important;
}

/* Mantener el propio icono de filtro y menú en el color de cabecera al interactuar */
.ag-root-wrapper .ag-header-cell-filtered .ag-icon,
.ag-root-wrapper .ag-header-cell-menu-button:hover .ag-icon,
.ag-root-wrapper .ag-header-icon:hover .ag-icon {
    color: var(--grid-header-color) !important;
}

/* Quitar los puntos suspensivos ("...") de los cabezales cuando el texto es largo */
.ag-header-cell-text {
    text-overflow: clip !important;
}

/* Color de fondo para las cajitas de filtro dinamico (bajo los titulos) */
.ag-floating-filter-input .ag-input-wrapper {
    background-color: white !important;
    /* Capa base blanca para que no se mezcle con el naranja */
}

.ag-floating-filter-input input {
    background-color: var(--grid-selected-row-bg) !important;
}


/* Etiquetas de campos en formularios con el color de cabeceras de grilla */
.MuiInputLabel-root,
.MuiFormControlLabel-label {
    color: var(--grid-header-bg) !important;
    font-weight: bold;
}

/* Color de fondo del menú lateral */
.MuiDrawer-paper {
    background-color: var(--fondo-menu) !important;
    color: var(--letra-menu) !important;
}

/* Centrar títulos de cabecera y grupos */
.ag-header-cell-label,
.ag-header-group-cell-label {
    justify-content: center !important;
    text-align: center;
}

/* Forzar Mayúsculas en el Grid */
.force-uppercase .ag-cell {
    text-transform: uppercase;
}

.force-uppercase .ag-cell-edit-input {
    text-transform: uppercase !important;
}

.force-uppercase input {
    text-transform: uppercase;
}